# excluded files
.Rproj.user
.Rhistory
.RData
.Ruserdata
.directory
nohup.out
.ipynb_checkpoints

# excluded folders
.idea/
00-archive/
04-data-nc-csv/

# excluded data types
*.RData
*.pdf
*.nc
*.grib
*.out
*.iml
*.xml
*.json
*.Rout
*.eps
*.jpg
*.png

# exclude temporary datatypes
*~

# exclude build files
*.aux
*.log
*.dvi
*.lof
*.lot
*.out
*.toc
*.bbl
*.blg
*.synctex.gz

# exlude built pdf
*.pdf
*.html

