# excluded files
.Rproj.user
.Rhistory
.RData
.Ruserdata
.directory
nohup.out
.ipynb_checkpoints

# excluded folders
.idea/
00-archiv/

# excluded data types
*.RData
*.pdf
*.nc
*.grib
*.out
*.iml
*.xml
*.json
*.Rout
